/*PROGRAM GENERAL PAGES SETTINGS*/

/*PAGE SETTINGS*/

HTML,BODY
{
    BACKGROUND-COLOR: BLACK;
    WIDTH: 100%;
    HEIGHT: 100VH;
    OPACITY: 0;
    FONT-FAMILY:'GALANO GROTESQUE',ARIAL;
    FONT-SIZE: 1.5vw;
    ANIMATION: PAGE-LOAD 1.5s FORWARDS;
    MARGIN: 0 AUTO;
    OVERFLOW: HIDDEN;
    DISPLAY: INLINE-BLOCK;
}
DIV
{
    FLOAT: LEFT;
}
NAV
{
    WIDTH: 100%;
	HEIGHT: 4.5vw;
	ALIGN-ITEMS: CENTER;
	BORDER-BOTTOM: 3px SOLID RGB(0,73,123,.4);
	BORDER-RIGHT: 3px SOLID RGB(0,73,123,.4);
	BORDER-RADIUS: 20px;
	BACKGROUND-COLOR:RGBA(0,73,123);
	MARGIN: 0 AUTO;
	POSITION: ABSOLUTE;
}
.container
{
    WIDTH: 100%;
	FONT-SIZE: 1.5vw;
}
.DESCRIPTION
{
    FONT-SIZE: 1.5vw;	
}
.FORM
{
    FONT-SIZE: 1.5vw;
    BOX-SIZING: FIT-CONTENT;
}
.LEFT_BAR
{
    WIDTH: 40%;
    BORDER: 2px SOLID RGBA(0,73,123);
    BACKGROUND-COLOR:RGBA(0,73,123,.6);
    COLOR: WHITE;
	BORDER-RADIUS: 20px;
	HEIGHT: 78%;
	MARGIN: 0 AUTO;
	MARGIN-TOP: 1.8vw;
	MARGIN-LEFT: .2vw;
	FLOAT: LEFT;
}
.bon_magazie
{
	WIDTH: 59%;
	HEIGHT: 100%;
	BORDER: NONE;
}
.bon_magazie_frame
{
	BACKGROUND-COLOR: WHITE;
	WIDTH: 100%;
	HEIGHT: 78%;
	MARGIN-TOP: 1.8vw;
    BORDER: 2px SOLID RGBA(0,73,123);
	BORDER-RADIUS: 20px;
}
/*PAGE ELEMENTS SETTINGS*/

BUTTON    /*GENERIC BUTTONS*/
{
    BACKGROUND-COLOR:RGBA(237,28,36,.7);
	WIDTH:5.5vw;
	HEIGHT: 3.2vw;
	MARGIN-TOP: .4VW;
	FONT-FAMILY:'GALANO GROTESQUE',ARIAL;
	FONT-SIZE: 1vw;
	TEXT-ALIGN: CENTER;
	BORDER-TOP: 1px SOLID GRAY;
	BORDER-LEFT: 1px SOLID GRAY;
	BORDER-BOTTOM: 3px SOLID GRAY;
	BORDER-RIGHT: 3px SOLID GRAY;
	BORDER-RADIUS: 20px;
	FLOAT: LEFT;
	CURSOR: POINTER;
	BOX-SHADOW: 0 4px #999;
	TRANSITION: all 0.3s;
}

.CONFIRM,.PRINT  /*RECEIPTS/ DECLARATIONS/ LISTS BUTTONS*/
{
	BACKGROUND-COLOR:RGBA(237,28,36,.7);
    WIDTH: 20vw;
	HEIGHT: 2.5vw;
	FONT-FAMILY:'GALANO GROTESQUE',ARIAL;
	FONT-SIZE: 1.3vw;
	FONT-WEIGHT: BOLD;
	TEXT-ALIGN: CENTER;
 	FLOAT: NONE;
 	BORDER-TOP: 1px SOLID BLACK;
	BORDER-LEFT: 1px SOLID BLACK;
	BORDER-BOTTOM: 3px SOLID BLACK;
	BORDER-RIGHT: 3px SOLID BLACK;
}
IFRAME
{
    WIDTH: 100%;
    MARGIN: 0 AUTO;
	BACKGROUND-COLOR: RGBA(0,73,123);
}
.MODAL
{
  DISPLAY: BLOCK; /* HIDDEN BY DEFAULT */
  POSITION: FIXED; /* STAY IN PLACE */
  Z-INDEX: 1; /* SIT ON TOP */
  /*PADDING-TOP: 100PX;  LOCATION OF THE BOX */
  LEFT: 0;
  TOP: 0;
  WIDTH: 100%; /* FULL WIDTH */
  HEIGHT: 100%; /* FULL HEIGHT */
  OVERFLOW: AUTO; /* ENABLE SCROLL IF NEEDED */
  BACKGROUND-COLOR: RGB(0,0,0); /* Fallback color */
  BACKGROUND-COLOR: RGBA(0,0,0,0.4); /* Black w/ opacity */
  BACKGROUND: REPEATING-LINEAR-GRADIENT(45deg,RGBA(0, 0, 0, 0.1),RGBA(0, 0, 0, 0.1) 1px,RGBA(0, 0, 0, 0.2) 1px,RGBA(0, 0, 253, 0.2) 20px);
  BACKDROP-FILTER: BLUR(3px);
}
.confModal
{
  DISPLAY: NONE; /* HIDDEN BY DEFAULT */
  POSITION: FIXED; /* STAY IN PLACE */
  Z-INDEX: 1; /* SIT ON TOP */
  /*PADDING-TOP: 100PX;  LOCATION OF THE BOX */
  LEFT: 0;
  TOP: 0;
  WIDTH: 100%; /* FULL WIDTH */
  HEIGHT: 100%; /* FULL HEIGHT */
  OVERFLOW: AUTO; /* ENABLE SCROLL IF NEEDED */
  BACKGROUND-COLOR: RGB(0,0,0); /* Fallback color */
  BACKGROUND-COLOR: RGBA(0,0,0,0.4); /* Black w/ opacity */
  BACKGROUND: REPEATING-LINEAR-GRADIENT(45deg,RGBA(0, 0, 0, 0.1),RGBA(0, 0, 0, 0.1) 1px,RGBA(0, 0, 0, 0.2) 1px,RGBA(0, 0, 253, 0.2) 20px);
  BACKDROP-FILTER: BLUR(3px);
}

.MODAL-CONTENT 
{
  BACKGROUND-COLOR: #FEFEFE;
  MARGIN: 0 AUTO;
  PADDING: 20px;
  BORDER: 1px SOLID #888;
  BORDER-RADIUS: 20px;
  WIDTH: 30%;
  HEIGHT: AUTO;
  FONT-SIZE: 2.3vw;
  Z-INDEX: -1;
  FLOAT: NONE;
}
.AfisareComanda
{
    BACKGROUND-COLOR: #FEFEFE;
    MARGIN: 0 AUTO;
    PADDING: 20px;
    BORDER: 1px SOLID #888;
    BORDER-RADIUS: 20px;
    WIDTH: 30%;
    HEIGHT: AUTO;
    FONT-SIZE: 2.3vw;
    Z-INDEX: -1;
    FLOAT: NONE;
}
table tr:not(:first-child)
{
    cursor: pointer; transition: all .15s ease-in-out;
}
TABLE, TH, TD
{
    BORDER-COLLAPSE: COLLAPSE;
    TEXT-ALIGN: CENTER;
    HEIGHT: 1.3vw;
    FONT-SIZE: 1.3vw;
}
TD .BON
{
    WIDTH: 15%;
	LINE-HEIGHT: 1.5vw;
	TEXT-ALIGN: CENTER;
	FONT-SIZE: 1.3vw;
	FONT-WEIGHT: BOLD;
}
TD .BON2
{
    WIDTH: 5%;
	LINE-HEIGHT: 1.5vw;
	TEXT-ALIGN: CENTER;
	FONT-SIZE: 1.3vw;
	FONT-WEIGHT: BOLD;
}
.CLOSE
{
  COLOR: #AAAAAA;
  FLOAT: RIGHT;
  FONT-SIZE: 1.5vw;
  FONT-WEIGHT: BOLD;
}
.setoff
{
    BACKGROUND-COLOR: ORANGE; 
	BORDER-RADIUS: 20px; 
	WIDTH: 8.5vw;
	HEIGHT: 4vw;
	BOTTOM: 0;
	FLOAT: LEFT;
	MARGIN: 5px AUTO;
	FONT-SIZE: 2vw;
}
.agreed_bon
{
    BACKGROUND-COLOR: ORANGE; 
	BORDER-RADIUS: 20px; 
	WIDTH: 8.5vw;
	HEIGHT: 4vw;
	BOTTOM: 0;
	FLOAT: LEFT;
	MARGIN: 5px AUTO;
	FONT-SIZE: 2vw;
}
.rekrow
{
	MARGIN-LEFT: 0;
    FONT-SIZE:1.2vw;
	WIDTH: 7vw;
	TEXT-TRANSFORM: CAPITALIZE;
}
.rekrown
{
    FONT-SIZE:1.3vw;
	WIDTH: 250px;
	HEIGHT: 15px;
	TEXT-TRANSFORM: CAPITALIZE;
}
.product
{
    TEXT-TRANSFORM: UPPERCASE;
}

/*ANIMATIONS & TRANSITIONS*/

@KEYFRAMES PAGE-LOAD
{
    from{BACKGROUND-COLOR: BLACK; OPACITY: 0;}
   	to {BACKGROUND-COLOR: RGBA(255,255,255); OPACITY: 1;}
}
.CLOSE:HOVER,
.CLOSE:FOCUS 
{
  COLOR: #000;
  TEXT-DECORATION: NONE;
  CURSOR: POINTER;
}
BUTTON:HOVER
{
    BACKGROUND-COLOR: RGBA(237,28,36);
}
BUTTON:ACTIVE
{
    BACKGROUND-COLOR: DARKGRAY;
	BOX-SHADOW: 0 2px RGBA(237,28,36);
 	TRANSFORM: translateY(4px);
}
table tr .ROW:hover
{
	background-color: DARKGREY;
}
