HTML,BODY
{
	WIDTH: 100%;
	MAX-HEIGHT: NONE;
	MARGIN: 0 AUTO;
    FONT-FAMILY:'GALANO GROTESQUE',ARIAL;
    ANIMATION: ALL NONE;
    BACKGROUND-COLOR: WHITE; OPACITY: 1;
    OVERFLOW: VISIBLE;
}
TR
{ 
	PAGE-BREAK-INSIDE:AVOID;
	PAGE-BREAK-AFTER:AUTO;
}
BUTTON    /*GENERIC BUTTONS*/
{
    BACKGROUND-COLOR:RGBA(237,28,36,.7);
	WIDTH:10.5vw;
	HEIGHT: 3.2vw;
	FONT-FAMILY:'GALANO GROTESQUE',ARIAL;
	FONT-SIZE: 1vw;
	TEXT-ALIGN: CENTER;
	BORDER-TOP: 1px SOLID GRAY;
	BORDER-LEFT: 1px SOLID GRAY;
	BORDER-BOTTOM: 3px SOLID GRAY;
	BORDER-RIGHT: 3px SOLID GRAY;
	BORDER-RADIUS: 20px;
	FLOAT: LEFT;
	CURSOR: POINTER;
	BOX-SHADOW: 0 4px #999;
	TRANSITION: all 0.3s;
}
.CONFIRM,.PRINT,.EXPORT  /*RECEIPTS/ DECLARATIONS/ LISTS BUTTONS*/
{
    WIDTH: 20vw;
	HEIGHT: 2.5vw;
	FONT-FAMILY:'GALANO GROTESQUE',ARIAL;
	FONT-SIZE: 1.3vw;
	FONT-WEIGHT: BOLD;
	TEXT-ALIGN: CENTER;
 	FLOAT: NONE;
 	BORDER-TOP: 1px SOLID BLACK;
	BORDER-LEFT: 1px SOLID BLACK;
	BORDER-BOTTOM: 3px SOLID BLACK;
	BORDER-RIGHT: 3px SOLID BLACK;
}
TABLE TR:NOT(:FIRST-CHILD)
{
    CURSOR: POINTER; TRANSITION: ALL .15S EASE-IN-OUT;
}
TABLE, TH, TD
{
    TEXT-ALIGN: CENTER;
    HEIGHT: 1.3vw;
    FONT-SIZE: 1.3vw;
}
.confModal
{
  DISPLAY: NONE; /* HIDDEN BY DEFAULT */
  POSITION: FIXED; /* STAY IN PLACE */
  Z-INDEX: 1; /* SIT ON TOP */
  /*PADDING-TOP: 100PX;  LOCATION OF THE BOX */
  LEFT: 0;
  TOP: 0;
  WIDTH: 100%; /* FULL WIDTH */
  HEIGHT: 100%; /* FULL HEIGHT */
  OVERFLOW: AUTO; /* ENABLE SCROLL IF NEEDED */
  BACKGROUND-COLOR: RGB(0,0,0); /* Fallback color */
  BACKGROUND-COLOR: RGBA(0,0,0,0.4); /* Black w/ opacity */
  BACKGROUND: REPEATING-LINEAR-GRADIENT(45deg,RGBA(0, 0, 0, 0.1),RGBA(0, 0, 0, 0.1) 1px,RGBA(0, 0, 0, 0.2) 1px,RGBA(0, 0, 253, 0.2) 20px);
  BACKDROP-FILTER: BLUR(3px);
}
.MODAL-CONTENT
{
  BACKGROUND-COLOR: #FEFEFE;
  MARGIN: 0 AUTO;
  PADDING: 20px;
  BORDER: 1px SOLID #888;
  BORDER-RADIUS: 20px;
  WIDTH: 30%;
  HEIGHT: AUTO;
  FONT-SIZE: 2.3vw;
  Z-INDEX: -1;
  FLOAT: NONE;
}
.CLOSE
{
  COLOR: #AAAAAA;
  FLOAT: RIGHT;
  FONT-SIZE: 1.5vw;
  FONT-WEIGHT: BOLD;
}
.setoff
{
    BACKGROUND-COLOR: ORANGE; 
	BORDER-RADIUS: 20px; 
	WIDTH: 8.5vw;
	HEIGHT: 4vw;
	BOTTOM: 0;
	FLOAT: LEFT;
	MARGIN: 5px AUTO;
	FONT-SIZE: 2vw;
}

/*ANIMATIONS & TRANSITIONS*/

.CLOSE:HOVER,
.CLOSE:FOCUS 
{
  COLOR: #000;
  TEXT-DECORATION: NONE;
  CURSOR: POINTER;
}
BUTTON:HOVER
{
    BACKGROUND-COLOR: RGBA(237,28,36);
}
BUTTON:ACTIVE
{
    BACKGROUND-COLOR: DARKGRAY;
	BOX-SHADOW: 0 2px RGBA(237,28,36);
 	TRANSFORM: translateY(4px);
}
table tr .ROW:hover
{
	background-color: DARKGREY;
}